<main class="flex-shrink-0">
  <div class="container">
    <div class="card text-center">
      <h2 class="card-header">{{ apod.title }}</h2>
      <img src="{{ apod.url }}" class="img-fluid" alt="{{ apod.title }}" />
      <div class="card-body">
        <h5 *ngIf="apod.copyright" class="card-title">
          Copyright: {{ apod.copyright }}
        </h5>
        <p class="card-text text-justify">
          {{ apod.explanation }}
        </p>
      </div>
      <div class="card-footer">{{ apod.date }}</div>
    </div>
  </div>
</main>
<br /><br /><br />
